
<%- include('partials/headerProduit.ejs') %>
   <figure>
        <div class="grid-container">
            <div class="empty-space"></div>
            <div class="image-container-catalogue">
                <h1>Nos produits</h1>
            </div>
            <div class="empty-space"></div>
        </div>
    </figure>


    <section class="catalogueCategorie">
        <div class="gauche">" "</div>
        <div class="centre">" "</div>
        <div class="droiteCategorie">
            <a href="# lien vers la page  catalogue" class="button ">catégorie</a>
        </div>
    </section>

   
    <section class=" cards">
        <% allCafes.forEach(cafe => { %>
            <div class="card card-text ">
                <h3><%= cafe.type %></h3> 
                <P><%= cafe.description %></P>
                <a href="/produit/<%= cafe.id %>" class="buttonC" >découvrir</a>                   
            </div> <% }) %>
    </section>
   
<%-include('partials/footer.ejs') %>



