<%- include('partials/headerProduit.ejs') %>

<div class="gridContainer">
    <div class="espacement1ligne"></div> <!-- Colonne vide -->
    <div class="imageContainerProduit"></div>
    <div class="espacement1ligne"></div> <!-- Colonne vide -->
</div>

<div class="gridContainerProduit">
    <div class="espacement1ligne"></div> <!-- Colonne vide -->
    <article class="textZone">
        <p>
            Publié le 11 avril 2025
        </p>
        
        <h2>
            <span class="textColorDescription"><%= product.type %></span>
        </h2>
        
        <p>
            <span class="textColorDescription">Description : </span>
            <%= product.description %>
        </p>
        <p>
            <span class="textColorDescription">Origine : </span>
            <%= product.origine %>
        </p>
        <p>
            <span class="textColorDescription">Prix : </span>
            <%= product.prix %> €
        </p>
        
        <p>
            <span class="textColorDescription">Caractéristique : </span>
            <%= product.caracteristique %>
        </p>
        <p>
            <span class="textColorDescription">Disponibilité : </span>
            <%= product.disponibilite %>
        </p>
        
        <a href="/catalogue" class="buttonProduit text-zone-paddind">catalogue</a>
    </article>
 <div class="espacement1ligne"></div> <!-- Colonne vide -->
</div>

<%- include('partials/footer.ejs') %>